input/Bdb.csv
input/Cdb.csv
input/FINAL_all_bins_all_clusters.xlsx
input/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb_m.xlsx
input/genomeInformation.csv
input/gtdbtk.ar53.summary.tsv
input/gtdbtk.bac120.summary.tsv
input/missing_bins_list.csv
